<div class="container">
    <div class=title>PGX-Calculator</div>
    <table>
        <tr>
            <td colspan="3"><input type="text" id="result" value="{{ result }}"/></td>
            <!-- clr() function will call clr to clear all value -->
            <td><input type="button" value="c" (click)="clr()" /> </td>
        </tr>
        <tr>
            <!-- create button and assign value to each button -->
            <!-- dis("1") will call function dis to display value -->
            <td><input type="button" value="1" (click)="dis('1')" /> </td>
            <td><input type="button" value="2" (click)="dis('2')" /> </td>
            <td><input type="button" value="3" (click)="dis('3')" /> </td>
            <td><input type="button" value="/" (click)="dis('/')" /> </td>
        </tr>
        <tr>
            <td><input type="button" value="4" (click)="dis('4')" /> </td>
            <td><input type="button" value="5" (click)="dis('5')" /> </td>
            <td><input type="button" value="6" (click)="dis('6')" /> </td>
            <td><input type="button" value="-" (click)="dis('-')" /> </td>
        </tr>
        <tr>
            <td><input type="button" value="7" (click)="dis('7')" /> </td>
            <td><input type="button" value="8" (click)="dis('8')" /> </td>
            <td><input type="button" value="9" (click)="dis('9')" /> </td>
            <td><input type="button" value="+" (click)="dis('+')" /> </td>
        </tr>
        <tr>
            <td><input type="button" value="." (click)="dis('.')" /> </td>
            <td><input type="button" value="0" (click)="dis('0')" /> </td>
            <!-- solve function call function solve to evaluate value -->
            <td><input type="button" value="=" (click)="solve()" /> </td>
            <td><input type="button" value="*" (click)="dis('*')" /> </td>
        </tr>
    </table>
</div>