<div class="container">
    <div class=title>PGX-Calculator</div>
    <table>
        <tr>
            <td colspan="3"><input type="text" id="result" value="{{ result }}"/></td>
            <!-- clr() function will call clr to clear all value -->
            <td><input type="button" value="c" (click)="clr()" /> </td>
        </tr>
        <tr>
            <td><input type="button" value="1" (click)="get('1')" /> </td>
            <td><input type="button" value="2" (click)="get('2')" /> </td>
            <td><input type="button" value="3" (click)="get('3')" /> </td>
            <td><input type="button" value="/" (click)="operators('/')" /> </td>
        </tr>
        <tr>
            <td><input type="button" value="4" (click)="get('4')" /> </td>
            <td><input type="button" value="5" (click)="get('5')" /> </td>
            <td><input type="button" value="6" (click)="get('6')" /> </td>
            <td><input type="button" value="-" (click)="operators('-')" /> </td>
        </tr>
        <tr>
            <td><input type="button" value="7" (click)="get('7')" /> </td>
            <td><input type="button" value="8" (click)="get('8')" /> </td>
            <td><input type="button" value="9" (click)="get('9')" /> </td>
            <td><input type="button" value="+" (click)="operators('+')" /> </td>
        </tr>
        <tr>
            <td><input type="button" value="." (click)="get('.')" /> </td>
            <td><input type="button" value="0" (click)="get('0')" /> </td>
            <td><input type="button" value="=" (click)="solution()"/> </td>
            <td><input type="button" value="*" (click)="operators('*')" /> </td>
        </tr>
    </table>
</div>